body 
{
	background-color: white !important;
}
.pagination>li 
{
	display: inline;
	padding:0px !important;
	margin:0px !important;
	border:none !important;
}
.modal-backdrop 
{
	z-index: -1 !important;
	background-color: white;
	/*opacity: 0.5;*/
}
iframe
{
    height:700px !important;
}

.btn 
{
	display: inline-block;
	padding: 6px 12px !important;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.btn-primary 
{
	color: #fff !important;
	background: #428bca !important;
	border-color: #357ebd !important;
	box-shadow:none !important;
}
/*.btn-danger 
{
	color: #fff !important;
	background: #d9534f !important;
	border-color: #d9534f !important;
	box-shadow:none !important;
}
/*
Browse Image CSS
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}*/