label
{
  font-size: 20px;
  font-family: sans-serif;
  float: left;
  display: inline;
}
.SignUp_form
{
  width: 60em;
  height: 400px;
  min-height: 100px;
}
.Input
{
	margin-left: 60px;
	width: 300px;

}
.doctor_signup_form
{
	width: 60%;
	margin: auto;
}