  .center 
  {
  	text-align: center; 
  	margin-left: 13%; 
  	margin-right: 13%; 
  	margin-bottom: 10%; 
  	margin-top: 12%;
  }
.error-actions 
{
	margin-top:15px;
	margin-bottom:15px;
}
.error-actions .btn 
{ 
	margin-right:3%;
	border-radius: 5px;
}